/* This is the CSS file to style the survey form */
body {
	background-position: bottom 20px right 20px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 200px 130px;
	background-color: #729B97;
}

.bgrnd {
	position: fixed;
	right: 10px;
	bottom: 10px;
}

.credentials {
	position: fixed;
	bottom: 6px;
	left: 6px;
	width: 100%;
}

table, th, td {
	border: 2px solid black;
}

td {
	width: 40%;
	padding: 4px;
	margin: 4px;
	text-align: left;
	vertical-align: top;
	color: black;
}